.homecliente-child {
  position: absolute;
  top: 6175px;
  left: 0px;
  background-color: rgba(27, 71, 93, 0.9);
  width: 1440px;
  height: 457px;
}
.logotipo-5-vetorizado-1-icon {
  position: absolute;
  top: 6241px;
  left: 112px;
  width: 355.1px;
  height: 70.4px;
  overflow: hidden;
  object-fit: contain;
}
.redes-sociais {
  position: absolute;
  top: 6276px;
  left: 1196px;
  font-size: 20px;
  line-height: 20px;
  display: inline-block;
  color: #fff;
  width: 143px;
  height: 24px;
}
.cuidafast {
  position: absolute;
  top: 2px;
  left: 0px;
  line-height: 20px;
}
.cuidando-de-voc {
  position: absolute;
  top: 50px;
  left: 0px;
  font-size: 16px;
  line-height: 16px;
  display: inline-block;
  width: 278px;
  height: 19px;
}
.div {
  position: absolute;
  top: 6273px;
  left: 551px;
  background-color: rgba(0, 0, 0, 0);
  width: 288px;
  height: 164px;
  font-size: 20px;
  color: #fffbed;
}
.contato {
  position: absolute;
  top: 2px;
  left: 0px;
  line-height: 20px;
  display: inline-block;
  width: 84px;
  height: 24px;
}
.div2 {
  position: absolute;
  top: 2px;
  left: 24px;
  display: inline-block;
  width: 111px;
  height: 19px;
}
.frame-icon {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.li {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0);
  width: 288px;
  height: 24px;
}
.cuidafastgmailcom {
  position: absolute;
  top: 2px;
  left: 24px;
  display: inline-block;
  width: 184px;
  height: 19px;
}
.li1 {
  position: absolute;
  top: 32px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0);
  width: 288px;
  height: 24px;
}
.so-paulo-sp {
  position: absolute;
  top: 2px;
  left: 20px;
  display: inline-block;
  width: 108px;
  height: 19px;
}
.frame-icon2 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 12px;
  height: 16px;
  overflow: hidden;
}
.li2 {
  position: absolute;
  top: 64px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0);
  width: 288px;
  height: 24px;
}
.ul {
  position: absolute;
  top: 44px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0);
  width: 288px;
  height: 88px;
  font-size: 16px;
  color: #9ca3af;
}
.div1 {
  position: absolute;
  top: 6271px;
  left: 881px;
  background-color: rgba(0, 0, 0, 0);
  width: 288px;
  height: 164px;
  font-size: 20px;
  color: #fff;
}
.vector-icon {
  position: absolute;
  height: 6.09%;
  width: 28.13%;
  top: 0%;
  right: 71.88%;
  bottom: 93.91%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.linkedin-1-icon {
  position: absolute;
  top: 510.97px;
  left: 42px;
  width: 42px;
  height: 42px;
  object-fit: cover;
}
.facebook-v2-1-icon {
  position: absolute;
  top: 512.97px;
  left: 90px;
  border-radius: 7px;
  width: 38px;
  height: 38px;
  object-fit: cover;
}
.vector-parent {
  position: absolute;
  height: 10.41%;
  width: 8.89%;
  top: 109.21%;
  right: 7.5%;
  bottom: -19.62%;
  left: 83.61%;
}
.melhores-sujestes-de {
  position: absolute;
  top: 1280px;
  left: 108px;
  font-size: 30px;
  font-weight: 900;
  font-family: Inter;
  color: #000;
  display: inline-block;
  width: 707px;
}
.cuidadores-por-perto {
  position: absolute;
  top: 2384px;
  left: 108px;
  font-size: 30px;
  font-weight: 900;
  font-family: Inter;
  color: #000;
  display: inline-block;
  width: 707px;
}
.img-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 394.7px;
  height: 256px;
  object-fit: cover;
}
.sarah-johnson {
  position: absolute;
  top: 26px;
  left: 24px;
  font-size: 20px;
  line-height: 20px;
  display: inline-block;
  width: 154px;
  height: 24px;
}
.especialista-com-idosos {
  position: absolute;
  top: 54px;
  left: 24px;
  line-height: 16px;
  color: #4b5563;
  display: inline-block;
  width: 209px;
  height: 19px;
}
.frame-icon3 {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 18px;
  height: 16px;
  overflow: hidden;
}
.reviews {
  position: absolute;
  top: 2px;
  left: 26px;
  line-height: 16px;
  display: inline-block;
  width: 128px;
  height: 19px;
}
.div6 {
  position: absolute;
  top: 92px;
  left: 24px;
  background-color: rgba(0, 0, 0, 0);
  width: 346.7px;
  height: 24px;
  color: #000;
}
.ver-oramento {
  position: absolute;
  top: 10px;
  left: 111.27px;
}
.button {
  position: absolute;
  top: 132px;
  left: 24px;
  border-radius: 8px;
  background-color: #1b475d;
  width: 346.7px;
  height: 40px;
  text-align: center;
  color: #fffbec;
}
.div5 {
  position: absolute;
  top: 256px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0);
  width: 394.7px;
  height: 196px;
}
.div4 {
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fffbec;
  width: 394.7px;
  height: 452px;
  overflow: hidden;
}
.img-icon2 {
  position: absolute;
  top: 0px;
  left: -0.33px;
  width: 394.7px;
  height: 256px;
  object-fit: cover;
}
.img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 394.7px;
  height: 256px;
  background-image: url('img.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.jeniffer-lopez {
  position: absolute;
  top: 26px;
  left: 24px;
  font-size: 20px;
  line-height: 20px;
}
.pet-sitter-e-pet-walker {
  position: absolute;
  top: 54px;
  left: 24.34px;
  line-height: 16px;
  color: #4b5563;
}
.reviews1 {
  position: absolute;
  top: 2px;
  left: 26px;
  line-height: 16px;
  display: inline-block;
  width: 123px;
  height: 19px;
}
.contrate-agora {
  position: absolute;
  top: 10px;
  left: 111.28px;
}
.div7 {
  position: absolute;
  top: 0px;
  left: 426.66px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fffbec;
  width: 394.7px;
  height: 452px;
  overflow: hidden;
}
.emily-rodriguez {
  position: absolute;
  top: 26px;
  left: 24px;
  font-size: 20px;
  line-height: 20px;
  display: inline-block;
  width: 172px;
  height: 24px;
}
.assistente-em-casa {
  position: absolute;
  top: 54px;
  left: 23.67px;
  line-height: 16px;
  color: #4b5563;
  display: inline-block;
  width: 172px;
  height: 19px;
}
.div10 {
  position: absolute;
  top: 0px;
  left: 853.33px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fffbec;
  width: 394.7px;
  height: 452px;
  overflow: hidden;
}
.david-thompson {
  position: absolute;
  top: 26px;
  left: 24px;
  font-size: 20px;
  line-height: 20px;
  display: inline-block;
  width: 178px;
  height: 24px;
}
.physical-therapy-assistant {
  position: absolute;
  top: 54px;
  left: 24px;
  line-height: 16px;
  color: #4b5563;
  display: inline-block;
  width: 211px;
  height: 19px;
}
.reviews3 {
  position: absolute;
  top: 2px;
  left: 26px;
  line-height: 16px;
  display: inline-block;
  width: 122px;
  height: 19px;
}
.div13 {
  position: absolute;
  top: 484px;
  left: 0px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fffbec;
  width: 394.7px;
  height: 452px;
  overflow: hidden;
}
.maria-santos {
  position: absolute;
  top: 26px;
  left: 24px;
  font-size: 20px;
  line-height: 20px;
  display: inline-block;
  width: 136px;
  height: 24px;
}
.bab {
  position: absolute;
  top: 54px;
  left: 24px;
  line-height: 16px;
  color: #4b5563;
  display: inline-block;
  width: 216px;
  height: 19px;
}
.reviews4 {
  position: absolute;
  top: 2px;
  left: 26px;
  line-height: 16px;
  display: inline-block;
  width: 130px;
  height: 19px;
}
.div16 {
  position: absolute;
  top: 484px;
  left: 426.66px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fffbec;
  width: 394.7px;
  height: 452px;
  overflow: hidden;
}
.james-wilson {
  position: absolute;
  top: 26px;
  left: 24px;
  font-size: 20px;
  line-height: 20px;
  display: inline-block;
  width: 146px;
  height: 24px;
}
.cuidador-de-idosos {
  position: absolute;
  top: 54px;
  left: 24px;
  line-height: 16px;
  color: #4b5563;
}
.div19 {
  position: absolute;
  top: 484px;
  left: 853.33px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fffbec;
  width: 394.7px;
  height: 452px;
  overflow: hidden;
}
.div3 {
  position: absolute;
  top: 1352px;
  left: 98px;
  background-color: rgba(0, 0, 0, 0);
  width: 1248px;
  height: 936px;
}
.div22 {
  position: absolute;
  top: 1352px;
  left: 98px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fffbec;
  width: 394.7px;
  height: 452px;
  overflow: hidden;
}
.div25 {
  position: absolute;
  top: 1352px;
  left: 524.66px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fffbec;
  width: 394.7px;
  height: 452px;
  overflow: hidden;
}
.div28 {
  position: absolute;
  top: 1352px;
  left: 951.33px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fffbec;
  width: 394.7px;
  height: 452px;
  overflow: hidden;
}
.div31 {
  position: absolute;
  top: 2517px;
  left: 98px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fffbec;
  width: 394.7px;
  height: 452px;
  overflow: hidden;
}
.div34 {
  position: absolute;
  top: 2517px;
  left: 524.66px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fffbec;
  width: 394.7px;
  height: 452px;
  overflow: hidden;
}
.div37 {
  position: absolute;
  top: 2517px;
  left: 951.33px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fffbec;
  width: 394.7px;
  height: 452px;
  overflow: hidden;
}
.div50 {
  position: absolute;
  top: 504px;
  left: 0px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fffbec;
  width: 394.7px;
  height: 452px;
  overflow: hidden;
}
.div53 {
  position: absolute;
  top: 504px;
  left: 426.66px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fffbec;
  width: 394.7px;
  height: 452px;
  overflow: hidden;
}
.div56 {
  position: absolute;
  top: 504px;
  left: 853.33px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fffbec;
  width: 394.7px;
  height: 452px;
  overflow: hidden;
}
.div40 {
  position: absolute;
  top: 3266px;
  left: 131px;
  background-color: rgba(0, 0, 0, 0);
  width: 1248px;
  height: 936px;
}
.cuidados-quando-e {
  position: absolute;
  top: 395px;
  left: 410px;
  font-size: 36px;
  font-weight: 900;
  font-family: Inter;
  color: #1b475d;
  display: inline-block;
  width: 609px;
}
.bem-vindo-max {
  position: absolute;
  top: 309px;
  left: calc(50% - 310px);
  font-size: 64px;
  font-weight: 900;
  font-family: Inter;
  color: #1b475d;
  display: inline-block;
  width: 741px;
  height: 58px;
}
.div60 {
  position: absolute;
  top: 24px;
  left: 24px;
  background-color: rgba(0, 0, 0, 0);
  width: 240px;
  height: 30px;
}
.cuidado-infantil {
  position: absolute;
  top: 4px;
  left: 0px;
  display: inline-block;
  width: 205px;
  height: 24px;
}
.h4 {
  position: absolute;
  top: 88px;
  left: 60px;
  background-color: rgba(0, 0, 0, 0);
  width: 168px;
  height: 28px;
}
.i-icon {
  position: absolute;
  top: 37px;
  left: 128px;
  width: 31.5px;
  height: 51px;
}
.div59 {
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #d3dc7c;
  width: 288px;
  height: 152px;
}
.div-wrapper {
  position: absolute;
  top: 580px;
  left: 576px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 288px;
  height: 152px;
  font-size: 20px;
  color: #1b475d;
}
.div-icon {
  position: absolute;
  top: 46px;
  left: 129px;
  width: 30px;
  height: 30px;
}
.cuidados-pet {
  position: absolute;
  top: 2px;
  left: 0px;
  display: inline-block;
  width: 140px;
  height: 24px;
}
.h41 {
  position: absolute;
  top: 88px;
  left: 74px;
  background-color: rgba(0, 0, 0, 0);
  width: 139px;
  height: 28px;
}
.div61 {
  position: absolute;
  top: 580px;
  left: 888px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #fad564;
  width: 288px;
  height: 152px;
  font-size: 20px;
  color: #1b475d;
}
.div-icon1 {
  position: absolute;
  top: 46px;
  left: 125px;
  width: 34px;
  height: 30px;
}
.cuidado-para-idosos {
  position: absolute;
  top: 4px;
  left: 14px;
  display: inline-block;
  width: 219px;
  height: 24px;
}
.h42 {
  position: absolute;
  top: 87px;
  left: 24px;
  background-color: rgba(0, 0, 0, 0);
  width: 180px;
  height: 28px;
}
.div62 {
  position: absolute;
  top: 580px;
  left: 264px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #8ebd9d;
  width: 288px;
  height: 152px;
  font-size: 20px;
  color: #1b475d;
}
.homecliente-item {
  position: absolute;
  top: 286px;
  left: 51.5px;
  width: 1440px;
  height: 104px;
}
.cone-perfil-icon {
  position: absolute;
  top: -260px;
  left: 1674px;
  width: 68px;
  height: 67.2px;
  cursor: pointer;
}
.vector-icon1 {
  position: absolute;
  height: 3.26%;
  width: 2.49%;
  top: 74.12%;
  right: 14.36%;
  bottom: 22.61%;
  left: 83.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.group-child {
  position: absolute;
  top: 614.82px;
  left: 0px;
  background-color: rgba(27, 71, 93, 0.9);
  width: 1448px;
  height: 274px;
}
.vector-icon2 {
  position: absolute;
  height: 2.98%;
  width: 28.8%;
  top: 0%;
  right: 71.2%;
  bottom: 97.02%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.linkedin-1-icon1 {
  position: absolute;
  top: 745.82px;
  left: 39px;
  width: 42px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.facebook-v2-1-icon1 {
  position: absolute;
  top: 747.82px;
  left: 87px;
  border-radius: 7px;
  width: 38px;
  height: 38px;
  object-fit: cover;
}
.vector-container {
  position: absolute;
  height: 88.64%;
  width: 8.63%;
  top: 0%;
  right: 7.67%;
  bottom: 11.36%;
  left: 83.7%;
}
.contato1 {
  position: absolute;
  top: 711.82px;
  left: 886px;
  line-height: 20px;
  display: inline-block;
  color: #fff;
  width: 84px;
  height: 24px;
}
.ul1 {
  position: absolute;
  top: 753.82px;
  left: 886px;
  background-color: rgba(0, 0, 0, 0);
  width: 288px;
  height: 88px;
  font-size: 16px;
  color: #9ca3af;
}
.cuidafast1 {
  position: absolute;
  top: 713.82px;
  left: 556px;
  line-height: 20px;
}
.cuidando-de-voc1 {
  position: absolute;
  top: 761.82px;
  left: 556px;
  font-size: 16px;
  line-height: 16px;
  display: inline-block;
  width: 278px;
  height: 19px;
}
.vector-icon3 {
  position: absolute;
  height: 4.94%;
  width: 2.46%;
  top: 79.04%;
  right: 82.52%;
  bottom: 16.02%;
  left: 15.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.vector-group {
  position: absolute;
  height: 16.73%;
  width: 100.56%;
  top: 83.26%;
  right: 0%;
  bottom: 0%;
  left: -0.56%;
  font-size: 20px;
  color: #fffbed;
}
.homecliente-inner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 98px;
  object-fit: cover;
}
.homecliente {
  width: 100%;
  position: relative;
  background-color: #fffbec;
  height: 5312px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #1f2937;
  font-family: Montserrat;
}
